footer {
  display: flex; /* Flexbox 활성화 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  bottom: 0; /* 화면 하단에 위치 */
  z-index: 1; /* 다른 요소 위에 나타나도록 설정 */
  text-align: center; /* 텍스트 정렬 */
  background-color: #EAEAEA; /* 배경색 */
  width: 100%; /* 화면 전체 너비 */
  height: 60px; /* 원하는 높이 */
}

footer p {
  margin: 0; /* 여백 제거 */
  font-size: 1rem; /* 적절한 글자 크기 */
}