.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  height: 100%; /* 페이지 높이를 100%로 설정 */
  margin: 0;
}

#root {
  display: flex; /* Flexbox로 레이아웃 설정 */
  flex-direction: column; /* 위에서 아래로 배치 */
  min-height: 100vh; /* 화면 전체 높이만큼 차지 */
}

/* Footer를 하단으로 밀어내기 */
footer {
  margin-top: auto; /* 나머지 공간을 밀어냄 */
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.9rem;
}
